<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="/js/scrollreveal.min.js"></script> -->
<!-- <script type='application/javascript' src='/js/smooth-scrollbar.js'></script> -->
<script src="/js/baffle.min.js"></script>
{{ $main := resources.Get "js/main.js" | minify | fingerprint }}
<script src="{{ $main.Permalink }}"></script>
{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end}}

{{ "<!-- Syntax highlighting -->" | safeHTML }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
